/original_dataset/genre_gn_all.json
/original_dataset/song_meta.json
/original_dataset/train.json
/original_dataset/readme.txt
/original_dataset/val.json
/original_dataset/test.json

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json